*{
  box-sizing: border-box;
}

.container {
  width: 600px;
  background:#e3e6eb;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  /* margin-bottom: 10px; */
}
h1{
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #525252;
}
.input{
  height: 50px;
  width: 500px;
  border-radius:8px;
  /* border: 1px solid black; */
  font-size: 24px;
  box-shadow: 7px 7px 15px #939da3, -4px -4px 13px rgb(196, 192, 192),
  inset 4px 4px 8px rgba(209, 217, 230, 0.2),
  inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
ul{
  text-align: left;
}

.listing{
  /* display: flex; */
  font-size: 24px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:1px;
}
p{
  display: inline-block;
  padding-right: 20px;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;

}
.listing span{
  text-align: center;
  /* margin: auto; */
  padding: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background:rgb(197, 196, 196);
  font-family: Arial, Helvetica, sans-serif;
  color: crimson;
  font-size: 18px;
  box-shadow: 2px 2px 3px #bbcfda, -2px -2px 3px #fff,
  inset 2px 2px 3px rgba(209, 217, 230, 0.2),
  inset -2px -2px 3px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.listing input{
  font-size: 24px;
  background: #939da3;
  height: 20px;
  width: 20px;
  box-shadow: 2px 2px 3px #cfdae0, -2px -2px 3px #fff,
  inset 2px 2px 3px rgba(209, 217, 230, 0.2),
  inset -2px -2px 3px rgba(255, 255, 255, 0.2);
}
.footer{
  display: flex;
  align-content: center;
  align-content: center;
  border: 1px solid white;
  margin: 0 auto;
}
.footer span{
  width: 200px;
  /* border: 1px solid black; */
  color: green;
}

.strike {
  text-decoration: line-through;
  color: rgb(156, 123, 123);
}
